/*
 * filename: fonts.scss
 * author: jake rego
 * desc: this will hold the fonts
 */
/* for the IcoMoon Font Logo */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?7y8rq3");
  src: url("../fonts/icomoon.eot?7y8rq3#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?7y8rq3") format("truetype"), url("../fonts/icomoon.woff?7y8rq3") format("woff"), url("../fonts/icomoon.svg?7y8rq3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.glyph, .glyph-before:before, .glyph-after:after {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  padding-right: 15px;
  font-size: 2.5rem; }

/* line 49, source/sass/base/_fonts.scss */
.glyph-before:before, .glyph-after:after {
  content: attr(data-icon);
  speak: none; }
