/*
 * filename: _button.scss
 * author: jake rego
 * desc: this will hold the button styles
 */

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 4px white;
  color: white;
  font-family: $font--nav;

  border: none;
  border-radius: 20px;
  
  list-style-type: none;
  display: inline-block;
  
  font-size: 2.25rem;
  margin: 2.5%;
  width: 210px;
  height: 90px;
  transition: all .35s ease;
  
  a {
    position: absolute;
    text-decoration: none;
    font-size: 2.0rem;
    text-align: center;
    padding: 25px 50px;
    color: white;
    transform: translateX(-50%);

    @media all and (max-width: $phone) {
      font-size: 1.5rem;
    }

  }

  @media all and (max-width: $phone) {
    width: 125px;
    height: 75px; 
    margin-bottom: 20px;
    font-size: 1.5rem;
    @include scaleFontDown(77.5rem, 2.25rem, 1.85rem);
  }

  &:hover {
    cursor: pointer;
  }

}

.btn--form {
  width: 49% !important;
  margin: 10px 0;
  background-color: transparent;
}

.btn--lg {
  width: 30%;
  margin: 0.5%;
  padding: 2.5%;
  font-size: 3rem;
}

.btn--alt {
  background-color: white;
  color: black;
  a {
    color: black;
  }

  &:hover {
    cursor: pointer;
    //background-color: darken( $primary-white, 5%);
    //color: white;
  }
}
