/*
*
* filename: _form.scss
* author: jake rego
* description: this file will be for form styles
*
*/


.form {
  min-width: 300px;
  max-width: 500px;
  padding: 2%;
  border-radius: 4px;
  background-color: rgba(0 , 0, 0, 0.3);
  margin-right: auto;
  margin-left:  auto;
  font-family: $font--nav;

  @media all and (max-width: 500px) {
    width: 100%;
  }

  &__buttons {
    text-align:  center;
    width: 100%;
    border-radius: 20px
  }
  
  &__btn {
    margin: 0;
    width: 49% !important;
    
    &--alt {
      
    }
  }

  select,
  input,
  textarea {
    font-family: $font--nav;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
         -o-appearance: none;
            appearance: none;
    padding: 10px;
    margin: 8.5px 0;
    font-size: 1.0rem;
    border-radius: 5px;
    background-color: rgba(255,255,255, 1.0);

    box-shadow: inset 2px 2px 5px rgba(162,162,162,1.0);//rgba(0,0,0,0.50);
    border-color: rgba(162,162,162,1.0);

    border: none;
    box-shadow: none;

    &:focus,
    &:active {
      border: 2px #333;
    }
  }

  input[type="submit"] {
    background-color: $primary-green;
    transition: background-color .35s ease;

    &:hover {
      background-color: lighten($primary-green, 10%);
      cursor: pointer;
    }

  }

  input[type="reset"] {
    background-color: $primary-red;
    transition: background-color .35s ease;

    &:hover {
      cursor: pointer;
      background-color: lighten($primary-red, 10%);
    }

  }

}/* .form */

.form select {
  background: url("../images/dropdown-arrow.png") no-repeat;
  background-position: 95% 50%;
  background-color: white;
  background-size: 1.0rem;
}

.form textarea {
  height: 150px;
  word-wrap: break-word;
  resize: none;
}

.form__select {
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

#form__feedback--select {
  display: none;
  color: red;
}

#form__feedback--input--name {
  display: none;
  color: red;
}

#form__feedback--input--email {
  display: none;
  color: red;
}

#form__feedback--input--inquiry {
  display: none;
  color: red;
}
