/*
* filename: _nav.scss
* author: jake rego
* desc: this will hold the nav styles
*/

.grid {
  width: 100%;
  max-width: $container-max;
  margin-right: auto;
  margin-left:  auto;
  margin-bottom: 40px;
  font-family: $font--serif;

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  &__divider {
    width: 30%;
    margin: 40px auto;
    color: #333;

    @media all and (max-width: $phone) {
      margin: 20px auto;  
    }
  }

  &__cell {
    width:  calc( 66% - 20px );
    margin: 20px 0 20px 0;
    margin-right: auto;
    margin-left:  auto;
    max-width: 600px;
    position: relative;

    &:after {
      content: "";
      clear: both;
      display: table;
    }

    @media all and (max-width: $phone) {
      width: 95%;
      margin-top: 0;
      margin-bottom: 0;
    }

  } /* cell */

  &--scale {
    @media all and (max-width: $phone) {
      display: none;
    }
  }

  &__logo {
    text-align: center;
    position: absolute;

    &--left {
      top: -10px;
      left: -75px;
    }

    &--right {
      right: -75px;
      bottom: 30px;
    }

  } /* logo */

  &__text {

  } /* text */

  &__signature {
    float: right;
    margin-top: 10px;
    font-style: italic;
    &:before {
      content: " - ";
    }
  } /* signature */

} /* grid */
