/*
 *
 * filename: _list.scss
 * author: jake rego
 * description: this file will be for list styles
 *
*/

$timing: .4s;
$ease: cubic-bezier(.865, .140, .095, .870);


.list {

  box-shadow: 0 1px 8px rgba(#000,.25);
  /* Radio Inputs */
  .list__item__checkbox[name='panel'] {
    //display: none;
  }

  .list__item:after {
    content: "";
    clear: both;
    display: table;
  }

  /* Labels */
  label {
    font-size: 1.5em;
    
    float: left;
    width: 100%;
    text-align: left;

    position: relative;
    display: block;
    padding: 1em;

    cursor: pointer;
    transition: all $timing $ease;

    color: blue;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(#000,.15);
    background: transparent; //linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 50%,rgba(219,219,219,1) 55%,rgba(226,226,226,1) 100%);
    box-shadow: inset 0 2px 0 #fff;
    text-shadow: 0 1px 0 rgba(#fff,.75);
    
    &:after {
      position: absolute;
      right: 1em;

      width: 1em;
      height: 1em;

      //text-align: center;

      color: lightgrey;
      border-radius: 50%;
      box-shadow: inset 0 1px 6px rgba(#000,.5), 0 1px 0 #fff;
      text-shadow: 0 1px 0 rgba(#000,.75);
    }
    &:hover {
      color: green;
    }
  }
  .list__item__checkbox:checked + label {
    color: purple;
    &:after {
      /* adjust line-height to vertically center icon */
      line-height: .8em;
    }
  }
  /* Panel Content */
  .list__item__content {
    position: relative;

    overflow: hidden;

    max-height: 0;
    padding: 0 1.5em;

    transition: all $timing $ease;

    color: lightgrey;
    background: navy;
    background: linear-gradient(to bottom, rgba(68,68,68,1) 0%,rgba(34,34,34,1) 100%);
    box-shadow: inset 4px 0 0 0 purple, inset 0 3px 6px rgba(#000,.75);
    &:not(:last-of-type) {
      box-shadow: inset 0 -2px 2px rgba(#000,.25), inset 4px 0 0 0 purple, inset 0 3px 6px rgba(#000,.75);
    }
    .list__item__header {
      padding: 1em 0;
    }
    .list__item__body {
      font-size: .825em;
      line-height: 1.4em;

      padding: 0 0 1.5em;
    }
  }
}

.list__item__checkbox[name='panel']:checked ~ .list__item__content {
  /* Get this as close to what height you expect */
  max-height: 50em;
}
