

.modal--overlay {
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
}

.modal {
  display: none;
  position: absolute;
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-weight: 700;
  text-align: center;
  border: 3px solid $primary-navy; 

  background-color: lightgrey;
  padding: 30px;
  border-radius: 5px;
  z-index: 2;

  @media all and (max-width: $tablet ) {
    width: 85%;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    font-size: 2.0rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    display: block;
    width: 25%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  &__header {
    font-weight: bold;
    font-size: 2.25rem;
    margin: 10px;
  }

  &__content {
    font-size: 1.0rem;
    color: #333;
  }

}

