/*
 * filename: _nav.scss
 * author: jake rego
 * desc: this will hold the nav styles
 */


.nav {
  //border: 3px solid red;
  width: 100%;
  max-width: $container-max;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.js-nav--sticky {
    // position: fixed;
    // width: 100%;
    // left: 0;
    // top: 0;
    // z-index: 100;
    // border-top: 0;
    //height: 60px;

    //img {
    //  height: 50px;
    //}
}

.nav--img {
  height: 90px;
}

.nav__container {
  width: 100%;
  max-width: calc($container-max -100px);
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,90);
  opacity: 0.90;
  z-index: 100;

  @media all and (max-width: $phone) {
    display: none;
  }

  ul {
    font-family: $font--nav;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    margin-right: auto;
    margin-left:  auto;
    max-width: 900px; 
    display: flex;
    justify-content: space-around;

    li {
      width: 0px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}

.nav__link {

  list-style-type: none;
  flex-direction: row;
  
  a {
    margin-top: 20px;
    letter-spacing: 2px;
    color: black;
    padding: 20px;
    text-decoration: none;
    border-bottom: 5px solid transparent;
    transition: border-bottom .35s ease;

    &:hover {
      border-bottom: 4px solid #333;
    }
  }

  
  // &:nth-child(3) {
  //   @media all and (max-width: $phone) {
  //     display: none;
  //   }
  // }
  
}



