/*
 *
 * filename: _overlay.scss
 * author: jake rego
 * description: this file will be for overlay styles
 *
 */

.overlay {
  position: relative;
  height: 100%;
  margin-right: auto;
  margin-left:  auto;
  text-align: center;
  background-color: rgba(155, 155, 155, 0.35);    
  color: white;
  overflow: hidden;

  &--small {
    transform: translateY(20%);
    background-color: rgba(155, 155, 155, 0.0); 
  }

  &--top {
    transform: translateY(-25%);
    background-color: transparent;
    height: auto;

    @media all and (max-width: $phone) {
      transform: translateY(-12%);
    }

  }

  &__header {
    font-size: 64px;
  }
  h4 {
    font-family: $font2;
    font-weight: 400;
    font-size: 1.10rem;
    margin-bottom: 40px;
  }
} /* overlay */
