/*
*
* filename: _panel.scss
* author: jake rego
* description: this file will be for panel styles
*
*/

.panel {
  position: relative;
  color: #333;
  width: 90%;
  padding: 1px 40px;
  margin-right: auto;
  margin-left:  auto;
  margin-top: -30px;
  margin-bottom: 40px;
  background-color: rgba(239, 239, 239, 0.80);
  font-family: $font--serif;
  border-radius: 2px;

  @media all and (max-width: $phone) {
    width: 100%;
    padding: 1px 20px;
  }

  &__triangle {
    position: absolute;
    top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent rgba(239, 239, 239, 0.80) transparent;
    transition: right .35s ease;

    &--right {
      right: 37%;
    }

    &--left {
      right: 58.5%;
    }

    @media all and (max-width: $tablet) {
      border-color: transparent;
    }

  }

  &__item {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    @media all and (max-width: $tablet) {
      display: block;
    }

    &--text {
      font-size: 1.0rem;
      float: left;
      width: 85%;

      @media all and (max-width: $tablet) {
        width: 100%;
        clear: both;
        margin-top: 10px;
      }

      @media all and (max-width: $phone) {
        text-align: justify;
      }

      &:before,
      &:after {
        @media all and (max-width: $phone) {
          //content: "\'";
        }
      }

    } /* --text */

    &--logo {
      float: left;
      width: 15%;
      text-align: center;

      @media all and (max-width: $tablet) {
        width: 100%;
        clear: both;
      }

    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

  } /* __item */

}