/*
 *
 * filename: _section.scss
 * author: jake rego
 * description: this file will be for section styles
 *
 */

 .section {
  position: relative;
  width: 100%;
  max-width: $container-max;
  margin-right: auto;
  margin-left: auto;

  &--welcome {
    width: 100%;
    height: 800px;
    background-image: url(../images/section-1-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media all and (max-width: $phone) {
      height: 660px;
    }

  }
  
  &--services {
    padding-bottom: 30px;
    color: white;
    background-color: black;
    background-image: url(../images/section-3-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--contact {
    font-family: $font--serif;
    color: white;
    height: 800px;
    background-color: black;
    background-image: url(../images/section-5-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__header {
    font-family: $font--script; 
    text-align: center;

    @include scaleFontDown(77.5rem, 8.5rem, 4rem);

    &-1 {
      font-family: $font--script;
      @include scaleFontDown(77.5rem, 11rem, 5rem);
    }

    &--secondary {
      font-size: 1.25rem;

    }
  }
  
  &__divider {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  &__content {
    padding-top: 5%;

  }

  &__text {
    font-family: $font--serif;
    max-width: $container-max;
    text-align: justify;
    margin-right: auto;
    margin-left:  auto; 
    padding: 7%;
    line-height: 1.5rem;

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 60px; /* Chrome, Safari, Opera */
    -moz-column-gap: 60px; /* Firefox */
    column-gap: 60px;

    -webkit-column-rule: 1px dashed lightgrey; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px dashed lightgrey; /* Firefox */
    column-rule: 1px dashed lightgrey;

    @media all and (max-width: 700px) {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
    }

    p:not(:first-child) {
      margin: 10px 0;
    }

  }

} /* section */

