/*
 * filename: colors.scss
 * author: jake rego
 * desc: this will hold the colors
 */

$primary-black: #29252c;
$primary-navy: #33425b;
$primary-light-blue: #2F5F94;
$primary-red: #f33535;
$primary-green: green;
$primary-white: #f3f3f3;