/* Quick sheet for the coming soon page */
@font-face {
  font-family: 'didot';
  src:    url(font/didot.eot);
  src:    url(font/didot.eot) format('embedded-opentype'),
          url(font/didot.ttf) format('truetype'),
          url(font/didot.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  padding: 0;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'didot', serif;
  color: white;
  background-color: rgba(186, 185, 175, 1.0);
}

.header {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left:  auto;
}

h1 {
  font-weight: 700;
  text-align: center;
  
  @media all and (min-width: 401px) {
    font-size: 5rem;
  }
  @media all and (max-width: 400px) {
    font-size: 3.5rem;
  }

}

h2 {
  font-weight: 900;
  text-align: center;
  
  @media all and (min-width: 401px) {
    font-size: 3.5rem;
  }
  @media all and (max-width: 400px) {
    font-size: 2.5rem;
  }
}

p {
  @media all and (min-width: 401px) {
    font-size: 1.5rem;
  }
  @media all and (max-width: 400px) {
    font-size: 1.0rem;
  }
  text-align: center;
  max-width: 600px;
  margin-right: auto;
  margin-left:  auto;
}

.img-holder {
  width: 100%;
  max-width: 200px;
  margin-right: auto;
  margin-left:  auto;

  @media all and (max-width: 400px) {
    width: 80%;
  }

}

.image {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
  color: green;
}