/*
 *
 * filename: styles.scss
 * author: jake rego
 * description: this file will combine all other aspects of the page
 *
 */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* mixins */
/*! * [Scalable Text in CSS with Maximum and Minimum Sizes](https://github.com/kevinmack18/SCALABLE-TEXT-IN-CSS) */
/* variables */
/*
 * filename: variables.scss
 * author: jake rego
 * desc: holds the variables for measurements
 */
/* colors */
/*
 * filename: colors.scss
 * author: jake rego
 * desc: this will hold the colors
 */
/* fonts */
/*
 * filename: fonts.scss
 * author: jake rego
 * desc: this will hold the fonts
 */
/* for the IcoMoon Font Logo */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?7y8rq3");
  src: url("../fonts/icomoon.eot?7y8rq3#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?7y8rq3") format("truetype"), url("../fonts/icomoon.woff?7y8rq3") format("woff"), url("../fonts/icomoon.svg?7y8rq3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.glyph, .glyph-before:before, .glyph-after:after {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-size: 4.0rem; }

/* line 49, source/sass/base/_fonts.scss */
.glyph-before:before, .glyph-after:after {
  content: attr(data-icon);
  speak: none; }

/* modules */
/*
 * filename: _nav.scss
 * author: jake rego
 * desc: this will hold the nav styles
 */
.nav {
  width: 100%;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  background-color: white; }

.nav--img {
  height: 90px; }

.nav__container {
  width: 100%;
  max-width: calc($container-max -100px);
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.90;
  z-index: 100; }
  @media all and (max-width: 520px) {
    .nav__container {
      display: none; } }
  .nav__container ul {
    font-family: "Muli", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    display: flex;
    justify-content: space-around; }
    .nav__container ul li {
      width: 0px;
      display: flex;
      justify-content: center;
      align-items: center; }

.nav__link {
  list-style-type: none;
  flex-direction: row; }
  .nav__link a {
    margin-top: 20px;
    letter-spacing: 2px;
    color: black;
    padding: 20px;
    text-decoration: none;
    border-bottom: 5px solid transparent;
    transition: border-bottom .35s ease; }
    .nav__link a:hover {
      border-bottom: 4px solid #333; }

/*
 *
 * filename: _section.scss
 * author: jake rego
 * description: this file will be for section styles
 *
 */
.section {
  position: relative;
  width: 100%;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto; }
  .section--welcome {
    width: 100%;
    height: 800px;
    background-image: url(../images/section-1-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    @media all and (max-width: 520px) {
      .section--welcome {
        height: 660px; } }
  .section--services {
    padding-bottom: 30px;
    color: white;
    background-color: black;
    background-image: url(../images/section-3-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .section--contact {
    font-family: "Tienne", serif;
    color: white;
    height: 800px;
    background-color: black;
    background-image: url(../images/section-5-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .section__header {
    font-family: "Damion", cursive;
    text-align: center; }
    @media screen and (min-width: 77.5rem) {
      .section__header {
        font-size: 8.5rem; } }

@media screen and (max-width: 77.5rem) and (min-width: 36.47059rem) {
  .section__header {
    font-size: 10.96774vw; } }

@media screen and (max-width: 77.5rem) and (max-width: 36.47059rem) {
  .section__header {
    font-size: 4rem; } }
    .section__header-1 {
      font-family: "Damion", cursive; }
      @media screen and (min-width: 77.5rem) {
        .section__header-1 {
          font-size: 11rem; } }

@media screen and (max-width: 77.5rem) and (min-width: 35.22727rem) {
  .section__header-1 {
    font-size: 14.19355vw; } }

@media screen and (max-width: 77.5rem) and (max-width: 35.22727rem) {
  .section__header-1 {
    font-size: 5rem; } }
    .section__header--secondary {
      font-size: 1.25rem; }
  .section__divider {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  .section__content {
    padding-top: 5%; }
  .section__text {
    font-family: "Tienne", serif;
    max-width: 1480px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    padding: 7%;
    line-height: 1.5rem;
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 60px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 60px;
    /* Firefox */
    column-gap: 60px;
    -webkit-column-rule: 1px dashed lightgrey;
    /* Chrome, Safari, Opera */
    -moz-column-rule: 1px dashed lightgrey;
    /* Firefox */
    column-rule: 1px dashed lightgrey; }
    @media all and (max-width: 700px) {
      .section__text {
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1; } }
    .section__text p:not(:first-child) {
      margin: 10px 0; }

/* section */
/*
 * filename: _button.scss
 * author: jake rego
 * desc: this will hold the button styles
 */
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 4px white;
  color: white;
  font-family: "Muli", sans-serif;
  border: none;
  border-radius: 20px;
  list-style-type: none;
  display: inline-block;
  font-size: 2.25rem;
  margin: 2.5%;
  width: 210px;
  height: 90px;
  transition: all .35s ease; }
  .btn a {
    position: absolute;
    text-decoration: none;
    font-size: 2.0rem;
    text-align: center;
    padding: 25px 50px;
    color: white;
    transform: translateX(-50%); }
    @media all and (max-width: 520px) {
      .btn a {
        font-size: 1.5rem; } }
  @media all and (max-width: 520px) {
    .btn {
      width: 125px;
      height: 75px;
      margin-bottom: 20px;
      font-size: 1.5rem; } }
  .btn:hover {
    cursor: pointer; }

.btn--form {
  width: 49% !important;
  margin: 10px 0;
  background-color: transparent; }

.btn--lg {
  width: 30%;
  margin: 0.5%;
  padding: 2.5%;
  font-size: 3rem; }

.btn--alt {
  background-color: white;
  color: black; }
  .btn--alt a {
    color: black; }
  .btn--alt:hover {
    cursor: pointer; }

/*
 *
 * filename: _overlay.scss
 * author: jake rego
 * description: this file will be for overlay styles
 *
 */
.overlay {
  position: relative;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgba(155, 155, 155, 0.35);
  color: white;
  overflow: hidden; }
  .overlay--small {
    transform: translateY(20%);
    background-color: rgba(155, 155, 155, 0); }
  .overlay--top {
    transform: translateY(-25%);
    background-color: transparent;
    height: auto; }
    @media all and (max-width: 520px) {
      .overlay--top {
        transform: translateY(-12%); } }
  .overlay__header {
    font-size: 64px; }
  .overlay h4 {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 1.10rem;
    margin-bottom: 40px; }

/* overlay */
/*
 *
 * filename: _list.scss
 * author: jake rego
 * description: this file will be for list styles
 *
*/
.list {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  /* Radio Inputs */
  /* Labels */
  /* Panel Content */ }
  .list .list__item:after {
    content: "";
    clear: both;
    display: table; }
  .list label {
    font-size: 1.5em;
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
    display: block;
    padding: 1em;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
    color: blue;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background: transparent;
    box-shadow: inset 0 2px 0 #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); }
    .list label:after {
      position: absolute;
      right: 1em;
      width: 1em;
      height: 1em;
      color: lightgrey;
      border-radius: 50%;
      box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 0 #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75); }
    .list label:hover {
      color: green; }
  .list .list__item__checkbox:checked + label {
    color: purple; }
    .list .list__item__checkbox:checked + label:after {
      /* adjust line-height to vertically center icon */
      line-height: .8em; }
  .list .list__item__content {
    position: relative;
    overflow: hidden;
    max-height: 0;
    padding: 0 1.5em;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
    color: lightgrey;
    background: navy;
    background: linear-gradient(to bottom, #444444 0%, #222222 100%);
    box-shadow: inset 4px 0 0 0 purple, inset 0 3px 6px rgba(0, 0, 0, 0.75); }
    .list .list__item__content:not(:last-of-type) {
      box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.25), inset 4px 0 0 0 purple, inset 0 3px 6px rgba(0, 0, 0, 0.75); }
    .list .list__item__content .list__item__header {
      padding: 1em 0; }
    .list .list__item__content .list__item__body {
      font-size: .825em;
      line-height: 1.4em;
      padding: 0 0 1.5em; }

.list__item__checkbox[name='panel']:checked ~ .list__item__content {
  /* Get this as close to what height you expect */
  max-height: 50em; }

/*
* filename: _nav.scss
* author: jake rego
* desc: this will hold the nav styles
*/
.grid {
  width: 100%;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  font-family: "Tienne", serif;
  /* cell */
  /* logo */
  /* text */
  /* signature */ }
  .grid:after {
    clear: both;
    content: "";
    display: table; }
  .grid__divider {
    width: 30%;
    margin: 40px auto;
    color: #333; }
    @media all and (max-width: 520px) {
      .grid__divider {
        margin: 20px auto; } }
  .grid__cell {
    width: calc( 66% - 20px);
    margin: 20px 0 20px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    position: relative; }
    .grid__cell:after {
      content: "";
      clear: both;
      display: table; }
    @media all and (max-width: 520px) {
      .grid__cell {
        width: 95%;
        margin-top: 0;
        margin-bottom: 0; } }
  @media all and (max-width: 520px) {
    .grid--scale {
      display: none; } }
  .grid__logo {
    text-align: center;
    position: absolute; }
    .grid__logo--left {
      top: -10px;
      left: -75px; }
    .grid__logo--right {
      right: -75px;
      bottom: 30px; }
  .grid__signature {
    float: right;
    margin-top: 10px;
    font-style: italic; }
    .grid__signature:before {
      content: " - "; }

/* grid */
/*
*
* filename: _form.scss
* author: jake rego
* description: this file will be for form styles
*
*/
.form {
  min-width: 300px;
  max-width: 500px;
  padding: 2%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: auto;
  margin-left: auto;
  font-family: "Muli", sans-serif; }
  @media all and (max-width: 500px) {
    .form {
      width: 100%; } }
  .form__buttons {
    text-align: center;
    width: 100%;
    border-radius: 20px; }
  .form__btn {
    margin: 0;
    width: 49% !important; }
  .form select,
  .form input,
  .form textarea {
    font-family: "Muli", sans-serif;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 10px;
    margin: 8.5px 0;
    font-size: 1.0rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: inset 2px 2px 5px #a2a2a2;
    border-color: #a2a2a2;
    border: none;
    box-shadow: none; }
    .form select:focus, .form select:active,
    .form input:focus,
    .form input:active,
    .form textarea:focus,
    .form textarea:active {
      border: 2px #333; }
  .form input[type="submit"] {
    background-color: green;
    transition: background-color .35s ease; }
    .form input[type="submit"]:hover {
      background-color: #00b300;
      cursor: pointer; }
  .form input[type="reset"] {
    background-color: #f33535;
    transition: background-color .35s ease; }
    .form input[type="reset"]:hover {
      cursor: pointer;
      background-color: #f66565; }

/* .form */
.form select {
  background: url("../images/dropdown-arrow.png") no-repeat;
  background-position: 95% 50%;
  background-color: white;
  background-size: 1.0rem; }

.form textarea {
  height: 150px;
  word-wrap: break-word;
  resize: none; }

.form__select {
  width: 100%; }
  .form__select:hover {
    cursor: pointer; }

#form__feedback--select {
  display: none;
  color: red; }

#form__feedback--input--name {
  display: none;
  color: red; }

#form__feedback--input--email {
  display: none;
  color: red; }

#form__feedback--input--inquiry {
  display: none;
  color: red; }

/*
*
* filename: _panel.scss
* author: jake rego
* description: this file will be for panel styles
*
*/
.panel {
  position: relative;
  color: #333;
  width: 90%;
  padding: 1px 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -30px;
  margin-bottom: 40px;
  background-color: rgba(239, 239, 239, 0.8);
  font-family: "Tienne", serif;
  border-radius: 2px;
  /* __item */ }
  @media all and (max-width: 520px) {
    .panel {
      width: 100%;
      padding: 1px 20px; } }
  .panel__triangle {
    position: absolute;
    top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent rgba(239, 239, 239, 0.8) transparent;
    transition: right .35s ease; }
    .panel__triangle--right {
      right: 37%; }
    .panel__triangle--left {
      right: 58.5%; }
    @media all and (max-width: 850px) {
      .panel__triangle {
        border-color: transparent; } }
  .panel__item {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* --text */ }
    @media all and (max-width: 850px) {
      .panel__item {
        display: block; } }
    .panel__item--text {
      font-size: 1.0rem;
      float: left;
      width: 85%; }
      @media all and (max-width: 850px) {
        .panel__item--text {
          width: 100%;
          clear: both;
          margin-top: 10px; } }
      @media all and (max-width: 520px) {
        .panel__item--text {
          text-align: justify; } }
    .panel__item--logo {
      float: left;
      width: 15%;
      text-align: center; }
      @media all and (max-width: 850px) {
        .panel__item--logo {
          width: 100%;
          clear: both; } }
    .panel__item:after {
      content: "";
      display: table;
      clear: both; }

.modal--overlay {
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); }

.modal {
  display: none;
  position: absolute;
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-weight: 700;
  text-align: center;
  border: 3px solid #33425b;
  background-color: lightgrey;
  padding: 30px;
  border-radius: 5px;
  z-index: 2; }
  @media all and (max-width: 850px) {
    .modal {
      width: 85%; } }
  .modal__close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    font-size: 2.0rem; }
    .modal__close:hover {
      cursor: pointer; }
  .modal__img {
    display: block;
    width: 25%;
    height: auto;
    margin-right: auto;
    margin-left: auto; }
  .modal__header {
    font-weight: bold;
    font-size: 2.25rem;
    margin: 10px; }
  .modal__content {
    font-size: 1.0rem;
    color: #333; }
