/*
 *
 * filename: styles.scss
 * author: jake rego
 * description: this file will combine all other aspects of the page
 *
 */

*, 
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* mixins */
@import 'mixins/_text-scale.scss';

/* variables */
@import 'base/variables.scss';

/* colors */
@import 'base/colors.scss';

/* fonts */
@import 'base/fonts.scss';

/* modules */
@import 'modules/_nav.scss';
@import 'modules/_section.scss';
@import 'modules/_button.scss';
@import 'modules/_overlay.scss';
@import 'modules/_list.scss';
@import 'modules/_grid.scss';
@import 'modules/_form.scss';
@import 'modules/_panel.scss';
@import 'modules/_modal.scss';